{% extends 'movie/base.html' %}

{% block body_block %}
	{% load static %}
	<!-- Swiper -->
	<div class="homeslider">
		<div class="swiper-container">

			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="images/slider/poster2.jpg">
					<div class="caption">
						<div class="captioninside">
							<h3>Movie Title</h3>
							<p>Lorem ipsum dolor siamet</p>
							<a href="single.html" class="playbutton">Play</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="images/slider/poster1.jpg">
					<div class="caption">
						<div class="captioninside">
							<h3>Movie Title 2</h3>
							<p>Lorem ipsum dolor siamet</p>
							<a href="single.html" class="playbutton">Play</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="images/slider/poster2.jpg">
					<div class="caption">
						<div class="captioninside">
							<h3>Movie Title 3</h3>
							<p>Lorem ipsum dolor siamet</p>
							<a href="single.html" class="playbutton">Play</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>

	<main class="content">
		<section class="panel">
			<h2>Recently Added</h2>
			<div class="recentslider">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% for movie in recently_added %}
							<div class="swiper-slide"><a href="{% url 'movies:detail' movie.slug %}"><img src="{{ movie.image.url }}"><h3 class="hometitle">{{ movie.title }}</h3></a></div>
						{% endfor %}						

						<div class="swiper-slide"><a href=""><img src="{% static 'img/others.png' %}"></a></div>
					</div>
					<div class="nextdirection recent-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
					<div class="leftdirection recent-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
				</div>
			</div>
		</section>

		<section class="panel">
			<h2>Most Watched</h2>
			<div class="recentslider">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% for movie in most_watched %}
							<div class="swiper-slide"><a href="{% url 'movies:detail' movie.slug %}"><img src="{{ movie.image.url }}"><h3 class="hometitle">{{ movie.title }}</h3></a></div>
						{% endfor %}						

						<div class="swiper-slide"><a href=""><img src="{% static 'img/others.png' %}"></a></div>
					</div>
					<div class="nextdirection recent-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
					<div class="leftdirection recent-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
				</div>
			</div>
		</section>

		<section class="panel">
			<h2>Top Rated</h2>
			<div class="recentslider">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% for movie in top_rated %}
							<div class="swiper-slide"><a href="{% url 'movies:detail' movie.slug %}"><img src="{{ movie.image.url }}"><h3 class="hometitle">{{ movie.title }}</h3></a></div>
						{% endfor %}						

						<div class="swiper-slide"><a href=""><img src="{% static 'img/others.png' %}"></a></div>
					</div>
					<div class="nextdirection recent-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
					<div class="leftdirection recent-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
				</div>
			</div>
		</section>
	</main>

{% endblock  %}
